<div *ngIf="authService.authenticated()" class="ui center aligned">
  <div class="ui small teal button" (click)="openImportForm()">Import Song</div>
  <div  class="ui small teal button" (click)="openCategoryForm()" *ngIf="authService.isAdmin">Add Category</div>
</div>
<div class="ui segment" [style.display]="currentSongDir? 'inherit':'none'">
  <audio #mediaPlayer controls="controls">
    <source *ngIf="currentSongDir" [attr.src]="currentSongDir" type="audio/mpeg" />
  </audio>
</div>
<div *ngIf="isOpenImportForm" class="ui segment">
  <select [(ngModel)]="selectedCategory">
    <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
  </select>
  <div>
    <input #songUpload type="file" accept="audio/*" (change)="onChange($event)"/>
  </div>
  <button *ngIf="uploadFile && selectedCategory"
    class="ui mini teal button" (click)="upload()">
    Upload
  </button>
  <div *ngIf="errorMessage">
    {{errorMessage}}
  </div>
</div>

<div *ngIf="isOpenAddCategoryForm" class="ui segment">
  <div class="ui input">
    <input type="text" placeholder="New Category" [(ngModel)]="newCategory" (keyup.enter)="addCategory()">
  </div>
  <div *ngIf="addCategoryErrorMessage">
    {{addCategoryErrorMessage}}
  </div>
</div>

<div *ngFor="let category of categories" class="ui segment">
  <h4 class="ui teal header">
    {{category.name}}
    <div class="sub header">Total {{category.songs.length}} songs </div>
  </h4>
</div>

<div *ngFor="let songsByCategory of songsByCategories" class="ui segment">
  <h4 class="ui teal header">
    {{songsByCategory.category.name}}
    <div class="sub header">Total {{songsByCategory.songs.length}} songs </div>
  </h4>
  <div *ngIf="songsByCategory.songs.length > 0" class="ui clearing divider"></div>
  <div *ngIf="songsByCategory.songs.length > 0" class="ui selection middle aligned divided list tracklist">
    <div class="item" *ngFor="let song of songsByCategory.songs">
      <div class="content">
        <div class="header" (click)="playSong(song)">
          {{song.name}}
        </div>
      </div>
    </div>
  </div>
</div>
