<div class="ui secondary pointing menu">
  <a class="item" routerLink="/playlist" routerLinkActive="active" >Playlists</a>
  <a class="item" routerLink="/category" routerLinkActive="active" >Categories</a>
  <div class="right menu">
    <button (click)="authService.login()" *ngIf="!authService.authenticated()"
      class="ui mini button"> Login
    </button>
    <button (click)="authService.logout()" *ngIf="authService.authenticated()"
      class="ui mini button"> Logout
    </button>
  </div>
</div>
<div class="ui container">
  <router-outlet></router-outlet>
</div>
