<div *ngIf="_currentPlaylist">
  <h4>{{_currentPlaylist.name}}'s playlist</h4>
  <div id='now-play' *ngIf="currentSong">
    <span>{{status}}</span>
    <span *ngIf="currentSong">{{currentSong.name}}</span>
  </div>
  <div>
    <audio [style.display]= "currentSong? 'inherit':'none'" #player controls="controls"
      (ended)="getNext()"
      (pause)="onPause()"
      (play)="onPlay()">
      <source *ngIf="songDir" [attr.src]="songDir" type="audio/mpeg"/>
      Your Browser does not support HTML5 Audio
    </audio>
    <div>
      <button *ngIf="currentSong" class="mini ui labeled icon teal button" (click)="getPrev()">
        <i class="left arrow icon"></i> Prev
      </button>
      <button *ngIf="currentSong" class="mini ui labeled icon teal button" (click)="getNext()">
        Next <i class="right arrow icon"></i>
      </button>
      <label *ngIf="authService.authenticated()" for="file"
        class="ui mini labeled teal icon button">
        <i class="upload icon"></i> Import Song
      </label>
      <input type="file" id="file" style="display:none" (change)="onChange($event)" accept="audio/*" multiple>
      <button *ngIf="uploadFiles" class="mini ui teal button" (click)="upload()">
        Upload
      </button>
    </div>
    <!-- Control loop and shuffle playlist -->
    <div *ngIf="_currentPlaylist.songs.length > 1">
      <div class="ui checkbox" *ngIf="_currentPlaylist.songs.length > 2">
        <input type="checkbox" [(ngModel)]="isShuffle" value="1" >
        <label>Shuffle</label>
      </div>
      <div class="ui checkbox">
        <input type="checkbox" [(ngModel)]="isLoopSelected" value="1">
        <label>Loop Selected</label>
      </div>
    </div>
  </div>
  <!-- Loop Display Playlist Song -->
  <div class="ui middle aligned selection divided list">
    <div class="item track" *ngFor="let song of _currentPlaylist.songs">
      <div *ngIf="isLoopSelected == 1" class="right floated content">
        <div class="ui checkbox">
          <input type="checkbox" value="{{song.id}}" (click)="addLoopList($event)">
          <label></label>
        </div>
      </div>
      <div class="content" (click)="play(song)">
        <div class="header">{{song.name}}</div>
      </div>
    </div>
  </div>
</div>
