<div class="ui centered grid">
  <div class="five wide column">
    <div class="ui middle aligned divided list">
      <div *ngIf="authService.authenticated()">
        <button class="ui mini primary button" (click)="createPlaylist()">
          Create Playlist
        </button>
      </div>
      <div class="item" *ngFor="let playlist of playlists">
        <div class="right floated content">
          <button class="mini ui teal button" (click)="play(playlist)">Detail <span> [ {{playlist.songs.length}} songs ]</span></button>
        </div>
        <div class="content">
          <span (click)="viewPlaylist(playlist)">{{playlist.id}} - {{playlist.name}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="seven wide centered column">
    <media-player [currentPlaylist]="currentPlaylist"></media-player>
  </div>
</div>
